*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.a1{
    width: 100%;
    height: 50vh;
    background: url(images/bg-pattern-intro-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(355, 100%, 74%);
    display: flex;
    flex-direction: column;
    border-radius: 0px 50px 0px 50px;
}
.nav{
    display: flex;
    height: 100px;
    align-items: center;
    gap: 50%;
    padding-left: 50px;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
.product{
    display: flex;
    align-items: center;
    gap: 25px;
}
.a2{
    display: flex;
    gap: 30px;
}
.signup{
    padding: 5px;
    width: 10vw;
    border-radius: 20px;
    border: none;
    background-color: white;
    color:hsl(356, 100%, 66%);
    
}
.login{
    border: none;
    color: white;
    background: transparent;
}
.online{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.d3{
    display: flex;
    gap: 30px;
}
.free{
    padding: 5px;
    width: 10vw;
    border-radius: 20px;
    border: none;
    background-color: white;
    color:hsl(356, 100%, 66%) ;
}
.More{
    padding: 5px;
    width: 10vw;
    border:none;
    border-radius: 20px;
    color:white;
    background-color: hsl(356, 100%, 66%);;
}
.out{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 35px;
}
.outtop{
    align-self: center;
}
.extensible{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.newpage{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.all1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.all1 p{
       width: 42vw;
}
.all2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.all2 p{
    width: 40vw;
}
.extensible img{
    height: 50vh;
}


.Art p{
    width: 36vw;
    padding: 20px;
    line-height: 25px;
}
.Art h3{
    color: white;
}
.iphone{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 40px ;
    background-color: hsl(237, 17%, 21%);
    height: 40vh;
    color: white;
    
}
.phone img{
    height: 350px;
}
.sch{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;


}
.s1 p{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    width: 30vw;

}
.s2{
    width: 30vw;
    gap: 30px;
}
.s3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.s4{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.laptop img{
    height: 40vh
}
.sites p{
    display: flex;

}
.simple{
    display: flex;
    flex-direction: column;
    
    
}
.a4{
    display: flex;
    justify-content: space-around;
    background-color: hsl(237, 17%, 21%);
    gap: 90px;
    border-radius: 0px 50px 0px 0px ;
    color: white;
    padding: 30px 0px;

}
.footer ul{
    list-style: none;
}
.number{
    list-style: none;
    line-height: 25px;
}
.Team{
    list-style: none;
    line-height: 25px;
}
.Connect{
    list-style: none;
    line-height: 25px;
}
@media screen and (max-width:950px){
    .a1{
        height: 58vh;
        border-radius: 0px 0px 0px 80px;
        background: url(images/bg-pattern-intro-mobile.svg);
        background-size: contain;
        background-color: hsl(355, 100%, 74%);
        gap: 60px;
    }
    .Grow{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .A{
        display: flex;
        flex-direction: column;
        width: 76vw;
        align-items: center;
    }
    .b{
        display: flex;
        flex-direction: column;
        width: 80vw;
    }
    .free{
        width:25vw;
    }
    .More{
        width: 25vw;
    }
    .a2{
        display:none;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
    }
    .out{
        flex-direction: column;
    }
    .extensible{
        flex-direction: column;
        
    }
    .extensible img{
       height: 30vh;
    }
    .all1{
        align-items: center;
        justify-content: center;
    }
    .all1 h1{
        text-align: center;
        font-size: 35px;
        width: 70vw;
    }
    .all1 p{
        text-align: center;
        font-size: 22px;
        width: 95vw;
    }
    .all2{
        align-items: center;
        justify-content: center;
    }
    .all2 h2{
        text-align: center;
        font-size: 30px;
        width: 60vw;
    }
    .all2 p{
        text-align: center;
        font-size: 22px;
        width: 95vw;
    }
    
    .iphone{
        flex-direction: column;
        height: 95vh;

    }
    .Art{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Art h3{
        text-align: center;
        font-size: 35px;
        width: 70vw;
    }
    .Art p{
        text-align: center;
        font-size: 23px;
        width: 83vw;
    }
    .sch{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        
    }
    
    .s1 p{
        width: 85vw;
        padding: 20px;
    }
    .s2 p{
        width: 68vw;
        padding: 10px;
    
    }
    .a4{
        flex-direction: column;
        align-items: center;        
    }
    .number{
        line-height: 25px;
    }
    .Team{
        line-height: 25px;
    }
    .Connect{
        line-height: 25px;
    }
}
    
   


    

    
